html{/* Comment */
	font-family: sans-serif;
}
body{/* Comment */
	margin: 0;
}
nav{/* Comment */

}
main{/* Comment */
	margin: 0;
}
header{/* Comment */
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	background-color: black;
	color: white;
	text-align: center;
}
header h1{
	font-weight: 10pt;
	font-size: 72pt;

}
header p{

}
header a{

}
section{/* Comment */
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	display: grid;
	grid-template-areas:  	
}
article{/* Comment */

}

#knowledge{
	display: grid;
	grid-template-columns: 20% 350px 100px 200px 20%;
	grid-template-rows: 20% 60% 20%;
}
#knowledge-article{
	grid-area: 2 / 2;
}
#knowledge-video{
	grid-area: 2 / 4;
}