
::-webkit-scrollbar { 
    display: none; 
}
html{/* Comment */
	font-family: sans-serif;

}
body{/* Comment */
	margin: 0;

}
h1{
	font-size: 42pt;
	margin: 5px;
}
nav{/* Comment */

}
 progress{
 	width: 100%;
  	height: 8px;
  	background: #ccc;
  	margin: 0;
  	padding: 0;
  	top: 0;
  	z-index: 100;
  	position: fixed;
 }
#navigaion{

}
main{/* Comment */
	margin: 0;
}
header{/* Comment */
	display: inline-block;
	height: 100vh;
	width: 100%;
	background-color: #4AB19A;
	color: white;
	text-align: center;
	
}
header h1{
	top: 20%;
	font-weight: 10pt;
	font-size: 72pt;
	position: relative;
	vertical-align: middle;
}
header p{

}
header a{

}
section{/* Comment */
	margin: 0;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-areas:  	
}
article{/* Comment */

}

#knowledge{
	background-color: #21364B ;
	color: white;
	display: grid;
	grid-template-columns: auto 550px 140px 400px auto;
	grid-template-rows: auto 60% auto;


}
#knowledge-article{
	grid-area: 2 / 2;
}
#knowledge-video{
	grid-area: 1 / 4 / 4;

}
#knowledge ul{
	list-style: none;
	text-align: center;
}
/* Safari 4.0 - 8.0 */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideAnim {
  	from {
  		left: 0;
  		opacity: 0;
  	}
  	to {
  		left: 25%;
  		height: 90%;
  		width: 70%;
  		opacity: 1;
  		background-color: blue;
  	}
}

@keyframes slideAnim {
  	from {
  		left: 0px;
  		width: 0px;
  		opacity: 0;
  	}
  	to {
  		width: 70%;
  		height: 90%;
  		left: 25%; 
  		opacity: 1;
  		background-color: blue;
  	}
}

#slide{
  	background-color: #E29470;
  	display: grid;
  	grid-template-columns: 50% 50%;
  	grid-template-rows: 100%;
  	justify-content: center;
}
#slide-picture{
	top: 20px;
	width: 100px;
  	height: 100px;
  	background-color: red;
  	position: relative;
  	animation-name: slideAnim;
  	animation-duration: 4s;
  	animation-fill-mode: forwards;

  	-webkit-animation-name: slideAnim; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
}
#slide-info{
	
}

#projects{
	background-color: #66A7D5;

	display: grid;
	grid-template-columns: repeat(3, 25%);
	grid-template-rows: 120px 350px 350px;
	grid-column-gap: 10px;
  	grid-row-gap: 15px;
  	justify-content: center;
  	align-content: center;
}
.projects-header{
	grid-area: 1 / 1 / 1/ 4;
	text-align: center;
	color: white;

}
.project-item{
	width: 100%;
	background-color: grey;
	color: white;
}
.project-item h2{
	text-align: center;
	margin: 5px;
}
.project-item p{
	margin: 0 15px 10px 15px;
}
.project-item a{
	display: inline-block;
	text-decoration: none;
	margin: 10px 15px 0 15px;

}
.project-item img{
	display: block;
	margin: 0 auto;
	width: 95%;
	height: 60%;
}
.download-link{
	
}
.demo-link{
	float: right;
}


#about-me{
	background-color: #31355B;
	color: white;
	display: grid;
	grid-template-columns: 500px 400px;
	grid-template-rows: 120px 350px 350px;
	grid-column-gap: 10px;
  	grid-row-gap: 15px;
  	justify-content: center;
  	align-content: center;
}

#about-info{

}
#profile-photo{
	width: 400px;
}





#myVideo {
    position: sticky;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
}